{%extends "main.html"%}
{%block title%}Register Page{%endblock%}

{%block content%}
 <div>
    <h1>Register Yourself</h1>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    <div class="flashed_messages">
        {%for msg in messages%}
        <p class="flash_message {{category}}">{{msg}}</p>
        {%endfor%}
    </div>
    {%endif%}
    {%endwith%}
    <form action="{{url_for('register')}}" method="post">
        <label for="name">Name</label>
        <input type="text" required name="name"  id="name" placeholder="Name" title="Enter your Name" autocomplete="off">
        <br>
        <label for="id">Student ID</label>
        <input type="number" required name="id"  id="id" placeholder="Enter user ID" pattern="\d{5}" maxlength="5" title="Enter 5 digit ID" autocomplete="off">
        <br>
        <label for="pass">Password</label>
        <input type="password" required name="pwd"  id="pwd" placeholder="Enter user password" title="Enter user password" minlength="8" maxlength="10">
        <br>
        <label for="email">Email</label>
        <input type="email" required name="email"  id="email" placeholder="Enter user email" title="Enter correct format" autocomplete="off">
        <br>
        <button type="submit" name="register" value="register">Register</button>

    </form>
 </div>

{%endblock%}